<div class="container">
  <h1 class="my-3 d-flex justify-content-between">
    <span>Osterquiz der Feuerwehr Riesa</span>
    <!--<button type="button" class="btn btn-danger ml-6" (click)="reset()">
      Zurücksetzen
    </button>-->
  </h1>

  @if(playerStore.playerData().route == undefined) {
  <p class="lead">Willkommen beim Quiz der Feuerwehr Riesa</p>
  <p>
    Wir haben für euch zwei mögliche Routen vorbereitet. Für jede Route müssen
    bestimmte Punkte angelaufen werden, an denen jeweils eine Frage gestellt
    wird.
  </p>
  <p>Für alle Ratefüchse wartet am Ende der Route eine kleine Überraschung.</p>
  <p>Wir wünschen euch viel Spaß!</p>
  <div style="display: flex; justify-content: space-around">
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      "
    >
      <button
        type="button"
        class="btn btn-primary"
        (click)="setRoute('Innenstadt')"
      >
        Route Innenstadt
      </button>
      <img
        (click)="setRoute('Innenstadt')"
        src="assets/route_innenstadt.png"
        style="width: 30vw; aspect-ratio: 4/3; object-fit: cover"
      />
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      "
    >
      <button type="button" class="btn btn-primary" (click)="setRoute('Gröba')">
        Route Gröba
      </button>
      <img
        (click)="setRoute('Gröba')"
        src="assets/route_groeba.png"
        style="width: 30vw; aspect-ratio: 4/3; object-fit: cover"
      />
    </div>
  </div>
  } @else if(playerStore.answeredQuestions() === playerStore.totalQuestions()) {
  <p class="lead">Alle Fragen beantwortet</p>
  <p>
    Ihr habt alle Stationen absolviert und konntet
    <strong>{{ playerStore.correctAnswers() }}</strong> Fragen richtig
    beantworten.
  </p>
  @if (playerStore.playerData().route === 'Innenstadt') {
  <p>
    Als Belohnung wartet beim Osterfeuer der Feuerwehr Riesa-Stadt auf der
    Pausitzer Straße eine Überraschung auf euch.
  </p>
  <p class="lead">Wir wünschen euch Frohe Ostern!</p>
  <img
    src="assets/flyer_stadt.png"
    style="width: 80vw; margin-left: auto; margin-right: auto"
  />
  } @else {
  <p>
    Als Belohnung wartet beim Osterfeuer der Feuerwehr Riesa-Gröba auf der
    Mozartstraße eine Überraschung auf euch.
  </p>
  <p class="lead">Wir wünschen euch Frohe Ostern!</p>
  <img
    src="assets/flyer_groeba.jpg"
    style="width: 80vw; margin-left: auto; margin-right: auto"
  />
  } } @else {
  <p class="lead d-flex justify-content-between">
    <span
      >Route: {{ playerStore.playerData().route }}
      <a href="#" (click)="switchRoute()">(Wechseln)</a></span
    >
    <oq-answer-state
      [route]="playerStore.playerData().route!"
    ></oq-answer-state>
  </p>
  <oq-map
    [route]="playerStore.playerData().route!"
    (tooFar)="tooFarToast.show()"
    (showQuestion)="questionModal.show($event)"
  ></oq-map>
  <oq-too-far-toast #tooFarToast></oq-too-far-toast>
  }
  <oq-question-modal #questionModal></oq-question-modal>
</div>
