<div class="container">
  <h1 class="my-3">
    <span>Osterquiz der Feuerwehr Riesa</span>
  </h1>

  @if(playerStore.playerData().route == undefined) {
  <p class="lead">Willkommen beim Quiz der Feuerwehr Riesa</p>
  <p>Lorem ipsum, Lorem ipsum</p>
  <div style="display: flex; justify-content: space-around">
    <button
      type="button"
      class="btn btn-primary"
      (click)="setRoute('Innenstadt')"
    >
      Route Innenstadt
    </button>
    <button type="button" class="btn btn-primary" (click)="setRoute('Gröba')">
      Route Gröba
    </button>
  </div>
  } @else {
  <p class="lead d-flex justify-content-between">
    <span>Route: {{ playerStore.playerData().route }}</span>
    <oq-answer-state
      [route]="playerStore.playerData().route!"
    ></oq-answer-state>
  </p>
  <oq-map
    [route]="playerStore.playerData().route!"
    (tooFar)="tooFarToast.show()"
    (showQuestion)="questionModal.show($event)"
  ></oq-map>
  <oq-too-far-toast #tooFarToast></oq-too-far-toast>
  }
  <oq-question-modal #questionModal></oq-question-modal>
</div>
